{% extends 'userReview/base.html' %}

{% block content %}

<style>
    .checked {
      color: orange;
    }
    .warning{
    color: red;
  }
  .success{
    color: green;
  }
    </style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".box").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".box").hide();
            }
        });
    }).change();
});
</script>

<div class="container-fluid">
<div class="row">
    <!--Review Insert in Database-->
    <div class="col-lg-3 mx-3 border border-1" style=" margin-top: 5%;  padding: 25px;">
        <div class="rating-wrap">
            <h5 style="text-align: center;">Star Rating</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <th><input type="hidden" name="textid" value="{{editValues.id}}"></th>
                    <div class="col-lg-12">
                        <div class="rate">
                            <input type="radio" name="rating" id="star5" name="rate" value="5" {% if editValues.rating == 5 %} checked {% endif %}/>
                            <label for="star5"  title="text">5 stars</label>
                            <input type="radio" name="rating" id="star4" name="rate" value="4" {% if editValues.rating == 3 %} checked {% endif %}/>
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" name="rating" id="star3" name="rate" value="3" {% if editValues.rating == 3 %} checked {% endif %}/>
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" name="rating" id="star2" name="rate" value="2" {% if editValues.rating == 2 %} checked {% endif %}/>
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" name="rating" id="star1" name="rate" value="1" {% if editValues.rating == 1 %} checked {% endif %}/>
                            <label for="star1" title="text">1 star</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <select name="reviewto" class="form-control">
                            <option value="">Select Company</option>
                            <option value="TCS" {% if editValues.reviewto == 'TCS' %} selected {% endif %}>TCS</option>
                            <option value="Wipro" {% if editValues.reviewto == 'Wipro' %} selected {% endif %}>Wipro</option>
                            <option value="Infosys" {% if editValues.reviewto == 'Infosys' %} selected {% endif %}>Infosys</option>
                            <option value="other" {% if editValues.reviewto == 'other' %} selected {% endif %}>Other</option>
                        </select>
                        <div class="form-row other box mt-3">
                            <input name="textother" value="{{editValues.reviewto}}" {% if editValues.reviewto == 'other' %} selected {% endif %} type="text" class="form-control" placeholder="Write a Other Company">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="inputEmail4">Description</label>
                            <textarea  name="reviewdesc" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <button type="submit" name="submit" class="btn btn-info mx-auto" style="width: 540px; " style="text-align: center;">Submit</button>
                </div>
            </form>
            {{errormsg}}
        </div>
    </div>


     <!--Table view in rating-->
     <div class="col-lg-8 border border-1" style=" margin-top: 5%; padding: 25px;">
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Rating</th>
                <th scope="col">Company</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {%  for data in showReviewData %}
                <tr>
                <th scope="row">
                    <span class="fa fa-star {% if data.rating > 0 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if data.rating > 1 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if data.rating > 2 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if data.rating > 3 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if data.rating > 4 %} checked {% endif %}"></span></th>
                <td>{{data.reviewto}}</td>
                <td>{{data.reviewdesc}}</td>
                <td>{{data.reviewdate}}</td>
                <td>
                    <a href="/reviewEdit?q={{data.id}}" class="fa fa-pencil-square-o mx-2"></a>
                    <a class="fa fa-trash" href="/reviewDelete?q={{data.id}}" data-toggle="modal" data-target="#exampleModalCenter" role="button"></a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
                    <!--Delete Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Alert </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                Are you sure to delete the record
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                            <a class="btn btn-danger" href="/reviewDelete?q={{data.id}}">Delete</a>
                            </div>
                        </div>
                        </div>
                    </div>
    </div>
</div>



</div>
{% endblock %}